@font-face {
    font-family: Karrik Italic;
    src: url(/fonts/Karrik-Italic.ttf);
}
@font-face {
    font-family: Karrik;
    src: url(/fonts/Karrik-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Karrik', sans-serif;
}

body {
    margin: 0;   
    background-color: #FFFCF2;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/* navbar */

#navbar {
    padding: 1rem;
    margin-inline: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

/* header */

#header-section {
    padding: 1rem;
}

#header-section h1 {
    font-size: 3rem;
    width: 50%;
}

/* projects */

#work-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work-display h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

#work-display h2 {
    font-size: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    width: 60%;
    margin-left: 3rem;
}

.project img {
    width: 100%;
    border-radius: 20px;
}

.about-tags {
    width: 100%;
}

.about-tags span{
    color: #EB5E28;
    border: solid 2px;
    border-radius: 20px;
    display: inline-block;
    padding-inline: 0.7rem;
    padding-block: 0.5rem;
    margin-block: 1rem;
}

.about-tags span p{
    margin: 0;
}

.about-project {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    text-align: left;
}

.about-project h2{
display: inline-block;
white-space: nowrap;
margin-block: 0;
padding-block: 0;
}
.about-project p{
    font-size: 1.3rem;
    padding-inline: 5rem;
    margin-block: 0;
    padding-block: 0;
}