@font-face {
    font-family: Karrik Italic;
    src: url(/fonts/Karrik-Italic.ttf);
}
@font-face {
    font-family: Karrik;
    src: url(/fonts/Karrik-Regular.ttf);
}

* {
    box-sizing: border-box;
    font-family: 'Karrik', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;   
    background-color: #FFFCF2;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}




/* navbar */

#navbar {
    padding: 1rem;
    margin-inline: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

#navbar li:hover {
    color: #EB5E28;
    cursor: pointer;
}

/* header */

#header-section {
    padding: 1rem;
}

#header-section h1 {
    font-size: 3rem;
    width: 50%;
}

/* projects */

#work-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work-display h1 {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 4rem;
    margin-left: 3rem;
}

#work-display h2 {
    font-size: 2rem;
}

/* project 1 */

.project {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    width: 60%;
    margin-left: 3rem;
    margin-block: 3rem;
}

.project img:hover {
    transform: scale(0.99);
}
.project img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
}

.about-tags {
    width: 100%;
}

.about-tags span{
    color: #EB5E28;
    border: solid 2px;
    border-radius: 20px;
    display: inline-block;
    padding-inline: 0.7rem;
    padding-block: 0.5rem;
    margin-block: 1rem;
}

.about-tags span p{
    margin: 0;
}

.about-project {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
    text-align: left;
}

.about-project h2{
display: inline-block;
white-space: nowrap;
margin-block: 0;
padding-block: 0;
}
.about-project p{
    font-size: 1.3rem;
    padding-inline: 5rem;
    margin-block: 0;
    padding-block: 0;
}

/* project 2 */

.project2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 60%;
    margin-left: auto;
    margin-right: 3rem;
    margin-block: 3rem;
}

.project2 img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
}

.project2 img:hover {
    transform: scale(0.99);
}

.project3 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    width: 60%;
    margin-left: 3rem;
    margin-block: 3rem;
}

.project3 img {
    width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease-out;
}

.project3 img:hover {
    transform: scale(0.99);
}

#contact {
    display: flex;
    align-items: center;
}

#contact h1 {
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 4rem;
}

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #EB5E28;
    color: #FFFCF2;
}

.images {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 60%;
margin-inline: auto;

}

.images img{
    width: 100%;
    margin-inline: auto;
}
